<article class="form-overview">
  <ion-text *ngIf="formName">
    <h5>{{ formName }}</h5>
  </ion-text>

  <form>
    <nb-card [formGroup]="generatedForm">
      <nb-card-header *ngIf="formLogo">
        <ion-img [src]="formLogo"></ion-img>
      </nb-card-header>
      <ng-container *ngIf="haveFields">
        <nb-card-body>
          <ion-item *ngFor="let field of fieldList" lines="bottom">
            <ion-label [attr.for]="field.label" position="floating">
              {{field.label}}
            </ion-label>
            <ng-container [ngSwitch]="field.controlType">
              <ion-input *ngSwitchCase="'text'" [formControlName]="field.label" type="text" [required]="field.required"></ion-input>
              <ion-input *ngSwitchCase="'number'" [formControlName]="field.label" type="number" [required]="field.required"></ion-input>
              <ion-input *ngSwitchCase="'tel'" [formControlName]="field.label" type="tel" [required]="field.required"></ion-input>
              <ion-input *ngSwitchCase="'email'" [formControlName]="field.label" type="email" [required]="field.required"></ion-input>
              <ion-select *ngSwitchCase="'checkbox'" [formControlName]="field.label" [required]="field.required">
                <ion-select-option [value]="trueText">{{ trueText }}</ion-select-option>
                <ion-select-option [value]="falseText">{{ falseText }}</ion-select-option>
              </ion-select>
              <ion-select *ngSwitchDefault [multiple]='field.controlType === "multiselect"' [formControlName]="field.label" [required]="field.required">
                <ion-select-option *ngFor="let opt of field.options" [value]="opt">{{opt}}</ion-select-option>
              </ion-select>
            </ng-container>
          </ion-item>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="submitEntry()" [disabled]="!generatedForm.valid" type="submit" status="primary" translate>FORMFILL.SUBMIT</button>
        </nb-card-footer>
      </ng-container>
    </nb-card>
  </form>
</article>
