@use "@nebular/theme/styles/theming" as nb;
@use "@nebular/theme/styles/themes/default" as default_theme;

$nb-themes: nb.nb-register-theme(
  (
    color-primary-100: #bfceff,
    color-primary-500: #3366ff,
    color-primary-700: #512da8,

    color-accent-100: #ffe57f,
    color-accent-500: #f5f4ef,
    color-accent-700: #ffc400,

    text-primary-color: #ffffff,
    text-primary-focus-color: #ffffff,
    text-primary-hover-color: #ffffff
  ),
  default,
  default
);
