<ion-app>
  <nb-layout>
    <nb-layout-column>
      <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
          <ion-content>
            <ion-list id="inbox-list">

              <ion-note>
                <div class="image-center">
                  <ion-img src="assets/icon/logo.png" width="100%"></ion-img>
                </div>
              </ion-note>

              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" routerLink="/form-list" lines="none" detail="false"
                  routerLinkActive="selected">
                  <ion-icon slot="start" ios="list-outline" md="list-sharp"></ion-icon>
                  <ion-label translate>SIDEMENU.LINK.LIST</ion-label>
                </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" routerLink="/form-create" lines="none" detail="false"
                  routerLinkActive="selected">
                  <ion-icon slot="start" ios="create-outline" md="create-sharp"></ion-icon>
                  <ion-label translate>SIDEMENU.LINK.CREATE</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

            <!-- <ion-list id="settings-list">
              <ion-list-header translate>SIDEMENU.SETTINGS</ion-list-header>
              // TODO: add language setting after capacitor storage has been fixed
              <ion-item lines="none">
                <ion-icon slot="start" ios="language-outline" md="language"></ion-icon>
                <ion-label translate>SIDEMENU.LANGUAGE</ion-label>
                <ion-toggle (ionChange)="switch($event)" [checked]="toggleChecked"></ion-toggle>
              </ion-item>
            </ion-list> -->

            <ion-list id="developer">
              <ion-list-header translate>SIDEMENU.DEVELOPER.TITLE</ion-list-header>
              <ion-item href="https://www.linkedin.com/curedas" lines="none">
                <ion-icon slot="start" ios="logo-linkedin-outline" md="logo-linkedin"></ion-icon>
                <ion-label>
                  LinkedIn
                </ion-label>
                <ion-icon slot="end" ios="thumbs-up-outline" md="thumbs-up-outline"></ion-icon>
              </ion-item>
              <ion-item href="https://www.twitter.com/curedas1" lines="none">
                <ion-icon slot="start" ios="logo-twitter-outline" md="logo-twitter"></ion-icon>
                <ion-label>
                  Twitter
                </ion-label>
                <ion-icon slot="end" ios="heart-outline" md="heart-outline"></ion-icon>
              </ion-item>
              <ion-item href="https://www.curedas-c.github.io/portfolio" lines="none">
                <ion-icon slot="start" ios="globe-outline" md="globe"></ion-icon>
                <ion-label translate>
                  SIDEMENU.DEVELOPER.WEBSITE
                </ion-label>
                <ion-icon slot="end" ios="navigate-circle-outline" md="navigate-outline"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>

          <div class="version-number">
            <ion-text color="medium">{{ version }}</ion-text>
          </div>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
      </ion-split-pane>
    </nb-layout-column>
  </nb-layout>
</ion-app>
