<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>FORMLIST.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" translate>FORMLIST.TITLE</ion-title>
    </ion-toolbar>
  </ion-header>


  <section id="form-list">
    <nb-card *ngFor="let form of formList$ | async" accent="info">
      <nb-card-header (click)="goFill(form)">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="form?.formLogo ? form.formLogo : 'assets/icon/form.svg'">
          </ion-avatar>
          <ion-label>{{ form?.formName }}</ion-label>
        </ion-item>
      </nb-card-header>
      <nb-card-body>
        <ion-button (click)="goTable(form)" color="light" expand="block" translate>FORMLIST.MENU.VIEWTABLE</ion-button>
        <ion-button (click)="goFill(form)" color="secondary" fill="clear" expand="block" translate>
          <ion-icon name="create-outline"></ion-icon> FORMLIST.MENU.FILL
        </ion-button>
      </nb-card-body>
    </nb-card>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/form-create" routerDirection="forward">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
