#form-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-auto-rows: min-content;
    padding: 0 .6rem;
    margin-top: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 .8rem;
    }
}

ion-content ion-header.ios {
    display: none;
}

nb-card {
    height: fit-content;
}

nb-card-header {
    padding: .5rem 0;
    ion-label {
        max-width: 70vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @media (min-width: 768px) {
            max-width: 30vw;
        }

        @media (min-width: 1024px) {
            max-width: 20vw;
        }
    }
}

nb-card-body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
        --border-radius: unset;
        --box-shadow: unset;
        width: 50%;
        margin: 0;
        ion-icon {
            margin-right: .25rem;
        }
    }
}

nb-list nb-list-item {
    padding: 0;
}