<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>FORMLIST.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" translate>FORMLIST.TITLE</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <section id="form-list">
    <nb-card accent="info">
      <nb-card-header>
        <ion-img src="assets/icon/form.svg"></ion-img>
      </nb-card-header>
      <nb-card-body>
         Parents Advice Form
      </nb-card-body>
    </nb-card>
    <nb-card accent="info">
      <nb-card-header>
        <ion-img src="assets/icon/form.svg"></ion-img>
      </nb-card-header>
      <nb-card-body>
         Actors Role Form
      </nb-card-body>
    </nb-card>
    <nb-card accent="info">
      <nb-card-header>
        <ion-img src="assets/icon/form.svg"></ion-img>
      </nb-card-header>
      <nb-card-body>
         Most Viewed Videos Form
      </nb-card-body>
    </nb-card>
    <nb-card accent="info">
      <nb-card-header>
        <ion-img src="assets/icon/form.svg"></ion-img>
      </nb-card-header>
      <nb-card-body>
         MyForm
      </nb-card-body>
    </nb-card>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/form-create" routerDirection="forward">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
